* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #292c52;
}
a {
    text-decoration: none;
    color: #292c52;
}
h1 {
    font-size: clamp(32px, 7vw, 65px);        
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
}
h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}
p {
    font-size: 16px;
}
.header-bg {
    width: auto;
    background: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-rojo.svg);
    background-repeat: no-repeat;
    background-position:right bottom;
}
.header-wrppr {
    padding: 50px 0px 100px;
}

.header-row {
    display: flex;
    flex-flow: row wrap;
}
.contact-btn { 
    width: 190px;
    height: 50px;
    background-color: #f9d026;
    border-radius: 100px;
    text-align: center;
    padding: 15px 10px 12px;
    font-size: 19px;
    font-weight: 800;
}
.contact-btn a {
    letter-spacing: 1.5px;
}
.main-txt-wrppr {
    padding-top: 45px;
}
.main-txt {
    color: #ffffff;
    letter-spacing: 3.5px;
}
.our-serv-bg {
    display: flex;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
.our-serv-wrppr {
    text-align: center;
    line-height: 25px;
}
.our-serv-wrppr h1 {
    letter-spacing: 3px;
    margin-top: 20px;
}
.our-serv-wrppr p {
    letter-spacing: 0.9px;
}
.serv-web-bg {
    background-color: #dcdcdc;
    padding-top: 70px;
    padding-bottom: 40px;
    justify-content: space-around;
}
#serv-web-wrppr {
    display: flex;
}
.img-serv-web {
    display: flex;
}
.serv-web-txt {
    padding-right: 15px;
}
#team-cont {
    align-content: flex-end;
}
#team-serv-img {
    padding-left: 15px;
    padding-right: 0;
}
.serv-web-txt h1 {
    color: #ea3434;
    font-size: clamp(30px, 7vw, 52px);;
    letter-spacing: 2.5px;
    margin-top: 20px;
}
.serv-web-txt h3 {
    color: #292c52;
    letter-spacing: 1.2px;
}
.serv-web-txt p {
    color: #15162f;
    font-size: 18px;
    padding: 30px 0;
    line-height: 25px;
    font-weight: 100;
}
#spicy-details {
    width: 280px;
}
.serv-team-bg {
    background-color: #dcdcdc;
    padding-top: 40px;
    padding-bottom: 40px;
}
#serv-team-wrppr {
    display: flex;
}
#mix-up-wrppr {
    margin-left: 45%;
}
#mix-up {
    width: 220px;
}
.serv-products-bg {
    background-color: #dcdcdc;
    padding-top: 40px;
    padding-bottom: 70px;
}
#serv-products-wrppr {
    display: flex;
}
#product-further {
    width: 320px;
}
.micheladas-bg {
    background-color: #f9d026;
    background-image: url(https://michelada.io/images/v3/il-espuma-rojo-inverted.svg);
    background-repeat: no-repeat;
}
.micheladas-wrppr h1 {
    color: #ffffff;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.micheladas-bg p {
    color: #15162f;
    font-weight: 600;
}
.micheladas-wrppr span {
    color: #ffffff;
}
.mail-bg1 {
    background-color: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-azul.svg);
    background-repeat: no-repeat;
    background-size: 334px;
    background-position: left top;
}
.mail-wrppr1 {
    color: #f9d026;
    text-align: center;
}
.mail-bg2 {
    background-color: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-azul-flip.png);
    background-repeat: no-repeat;
    background-size: 334px;
    background-position: right bottom;
}
.mail-wrppr2 {
    display: flex;
    justify-content: center;
}
.mail-wrppr2 a {
    color: #ffffff;
}
.footer-bg {
    background-color: #292c52;
    color: #ffffff;
    font-size: 13px;
    padding-top: 84px;
    padding-bottom: 84px;
}
.social-cont {
    display: flex;
    justify-content: flex-end;
}
.social-cont a img {
    width: 40px;
    height: 40px;
    margin: 0 0 7px 15px;
}
hr {
    margin-top: 25px;
    margin-bottom: 20px;
}
.copyright p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 9px;
}

@media screen and (min-width: 320px) {
    .container {
        max-width: 300px; 
        margin: 0 auto;       
    }
    .header-bg {
        background-size: 243px;
    }
    .header-wrppr {
        height: 599px;
    }
    .header-row {
        justify-content: center;
    }
    .main-txt {
        line-height: normal;
        padding-left: 15px;
        padding-right: 15px;
    }
    .our-serv-wrppr {
        padding-left: 20px;
        padding-right: 20px;
    }
    .our-serv-wrppr h1 {
        line-height: normal;
    }
    #serv-web-wrppr {
        flex-flow: column;
    }
    .img-serv-web {
        width: 100%;
        justify-content: center;
    }
    .img-serv-web img {
        width: 200px;
    }
    .serv-web-txt {
        width: 100%;
        text-align: center;
    }
    .serv-web-txt h1 {
        line-height: normal;
    }
    .serv-web-txt h3 {
        font-size: 20px;
    }
    #serv-products-wrppr {
        flex-flow: column;
    }
    #serv-team-wrppr {
        flex-flow: column;
    }
    #team-cont {
        text-align: center;
    }
    .micheladas-bg {
        background-position: top right;
        background-size: 226px;
        padding-top: 241px;
        padding-bottom: 95px;
    }
    .micheladas-wrppr {
        width: 270px;
    }
    .micheladas-wrppr h1 {
        line-height: normal;
    }
    .micheladas-wrppr p {
        font-size: 20px;
        padding-top: 40px;
        line-height: 30px;
        font-weight: bold;
    }
    .mail-bg1 {
        background-size: 248px;
    }
    .mail-wrppr1 {
        padding: 200px 15px 30px;
    }
    .mail-bg2 {
        background-size: 248px;
    }
    .mail-wrppr2 {
        padding-bottom: 220px;
    }
    .mail-wrppr2 a {
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1170px;
        margin: 0;
        padding-left: 24px;
        padding-right: 24px;
    }
    .header-bg {
        background-size: 411px;
    }
    .header-row {
        justify-content: unset;
    }
    .main-txt {
        line-height: 80px;
    }
    .logo {
        width: 70%;
    }
    #header-btn {
        margin-right: 25px;
        margin-left: 0;
    }
    .main-txt-wrppr {
        width: 75%;
    }
    .our-serv-wrppr {
        width: 50%;
    }
    .our-serv-wrppr h1 {
        line-height: 80px;
    }
    #serv-web-wrppr {
        flex-flow: row;
    }
    .img-serv-web {
        width: 41.666667%;
        justify-content: flex-start;        
        padding-right: 15px;
    }
    .serv-web-txt {
        width: 58.333333%;    
        padding-left: 15px;
    }
    .img-serv-web img {
        width: 290px;
        height: 344px;
    }
    .serv-web-txt h3 {
        font-size: 24px;
    }
    #serv-team-wrppr {
        flex-flow: row;
    }
    #team-cont {
        text-align:right;
    }
    #serv-products-wrppr {
        flex-flow: row;
    }
    .micheladas-bg {
        background-position: top right;
        background-size: 329px;
        padding-top: 110px;
        padding-bottom: 124px;
    }
    .micheladas-wrppr {
        width: 55%;
    }
    .micheladas-wrppr p {
        font-size: 24px;
        padding-top: 50px;
    }
    .mail-bg1 {
        background-size: 334px;
        border-bottom: #ffffff solid 0px;
    }
    .mail-wrppr1 {
        padding: 240px 25% 5px;
    }
    .mail-bg2 {
        background-size: 334px;
        border-bottom: #ffffff solid 0px;
    }
    .mail-wrppr2 {
        padding-top: 20px;
        padding-bottom: 300px;
        font-weight: bold;
    }
    .mail-wrppr2 a {
        font-size: 65px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 42px;
        padding-right: 42px;
    }
    .header-bg {
        background-size: 511px;
    }
    .main-txt {
        padding-left: 0;
    }
    .header-wrppr {
        height: 795px;
    }
    .logo {
        width: 75%;
    }
    #header-btn {
        margin-left: 20px;
    }
    .main-txt-wrppr {
        width: 60.66%;
    }
    .our-serv-wrppr {
        width: 50%;
    }
    .img-serv-web {
        justify-content: center;
    }
    .micheladas-bg {
        background-position: 90% top;
        background-size: 329px;
    }
    .mail-bg1 {
        border-bottom: #ffffff solid .5px;
    }
    .mail-wrppr1 {
        padding: 220px 0 5px;
    }
    .mail-bg2 {
        border-bottom: #ffffff solid .5px;
    }
    .mail-wrppr2 {
        padding-top: 20px;
        padding-bottom: 220px;
    }
}
@media screen and (min-width: 1025px) {
    .container {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}