* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #292c52;
}
a {
    text-decoration: none;
    color: #292c52;
}
h1 {
    font-size: clamp(32px, 7vw, 65px);
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
}
h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 30px;
}
p {
    font-size: 16px;
}
.header-cont {
    width: auto;
    background: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-rojo.svg);
    background-repeat: no-repeat;
    background-position:right bottom;
}
.header-wrapper {
    height: 795px;
    padding: 50px 0px 100px;
}

.header-row {
    display: flex;
}
.contact-btn { 
    width: 190px;
    height: 50px;
    background-color: #f9d026;
    border-radius: 100px;
    text-align: center;
    padding: 15px 10px 12px;
    font-size: 19px;
    font-weight: 800;
}
.contact-btn a {
    letter-spacing: 1.5px;
}
.logo {
    width: 75%;
}
.main-txt-wrapper {
    padding-top: 45px;
}
.main-txt {
    color: #ffffff;
    letter-spacing: 3.5px;
}
.div-serv-present-cont {
    display: flex;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
.div-serv-present {
    text-align: center;
    line-height: 25px;
}
.div-serv-present h1 {
    letter-spacing: 3px;
}
.div-serv-present p {
    letter-spacing: 0.9px;
}
.serv-web-cont {
    background-color: #dcdcdc;
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.img-serv-web {
    display: flex;
    width: 41.666667%;
    padding-right: 15px;
}
.img-serv-web img {
    width: 290px;
    height: 344px;
}
.serv-web-txt {
    width: 58.333333%;
    padding-right: 15px;
}
#team-cont {
    text-align: right;
    align-content: flex-end;
}
#team-serv-img {
    padding-left: 15px;
    padding-right: 0;
}
.serv-web-txt h1 {
    color: #ea3434;
    font-size: clamp(30px, 7vw, 52px);;
    letter-spacing: 2.5px;
    margin-top: 20px;
}
.serv-web-txt h3 {
    color: #292c52;
    font-size: 24px;
    letter-spacing: 1.2px;
}
.serv-web-txt p {
    color: #15162f;
    font-size: 18px;
    padding: 30px 0;
    line-height: 25px;
    font-weight: 100;
}
#spicy-details {
    width: 280px;
}
.serv-team-cont {
    background-color: #dcdcdc;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}
#mix-up-wrpr {
    margin-left: 45%;
}
#mix-up {
    width: 220px;
}
.serv-products-cont {
    background-color: #dcdcdc;
    padding-top: 40px;
    padding-bottom: 70px;
    display: flex;
}
#product-further {
    width: 320px;
}
.micheladas-cont {
    background-color: #f9d026;
    background-image: url(https://michelada.io/images/v3/il-espuma-rojo-inverted.svg);
    background-repeat: no-repeat;
    padding-top: 110px;
    padding-bottom: 124px;
}
.micheladas-wrapper {
    width: 55%;
}
.micheladas-wrapper h1 {
    color: #ffffff;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.micheladas-cont p {
    padding-top: 50px;
    color: #15162f;
    font-size: 24px;
    font-weight: 600;
}
.micheladas-wrapper span {
    color: #ffffff;
}
.mail-cont1 {
    background-color: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-azul.svg);
    background-repeat: no-repeat;
    background-size: 334px;
    background-position: left top;
}
.mail-wrapper1 {
    color: #f9d026;
    text-align: center;
}
.mail-cont2 {
    background-color: #15162f;
    background-image: url(https://michelada.io/images/v3/il-espuma-azul-flip.png);
    background-repeat: no-repeat;
    background-size: 334px;
    background-position: right bottom;
}
.mail-wrapper2 {
    display: flex;
    justify-content: center;
}
.mail-wrapper2 a {
    color: #ffffff;
    font-size: 65px;
}
.footer-cont {
    background-color: #292c52;
    color: #ffffff;
    font-size: 13px;
    padding-top: 84px;
    padding-bottom: 84px;
}
.social-cont {
    display: flex;
    justify-content: flex-end;
}
.social-cont a img {
    width: 40px;
    height: 40px;
    margin: 0 0 7px 15px;
}
hr {
    margin-top: 25px;
    margin-bottom: 20px;
}
.copyright p {
    font-size: 13px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
    }
    .header-cont {
        background-size: 411px;
    }
    #header-btn {
        margin-right: 25px;
        margin-left: 0;
    }
    .main-txt-wrapper {
        width: 75%;
    }
    .div-serv-present {
        width: 50%;
    }
    .img-serv-web {
        justify-content: flex-start;
    }
    .serv-web-txt {
        padding-left: 15px;
    }
    .micheladas-cont {
        background-position: top right;
        background-size: 329px;
    }
    .mail-cont1 {
        border-bottom: #ffffff solid 0px;
    }
    .mail-wrapper1 {
        padding: 240px 25% 5px;
    }
    .mail-cont2 {
        border-bottom: #ffffff solid 0px;
    }
    .mail-wrapper2 {
        padding-top: 20px;
        padding-bottom: 300px;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: 42px;
        padding-right: 42px;
    }
    .header-cont {
        background-size: 511px;
    }
    #header-btn {
        margin-left: 20px;
    }
    .main-txt-wrapper {
        width: 55%;
    }
    .div-serv-present {
        width: 50%;
    }
    .img-serv-web {
        justify-content: center;
    }
    .micheladas-cont {
        background-position: 90% top;
        background-size: 329px;
    }
    .mail-cont1 {
        border-bottom: #ffffff solid .5px;
    }
    .mail-wrapper1 {
        padding: 220px 0 5px;
    }
    .mail-cont2 {
        border-bottom: #ffffff solid .5px;
    }
    .mail-wrapper2 {
        padding-top: 20px;
        padding-bottom: 220px;
    }
}